<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<h1>Customer Registration page</h1>
<div>
  <form th:action="@{/customer/register}" th:object="${customer}" method="post">
    <label>First Name: </label>
    <input type="text" th:field="*{firstName}" required> <br/>
    <label>Last Name: </label>
    <input type="text" th:field="*{lastName}" required><br/>
    <label>Email: </label>
    <input type="email" th:field="*{email}" required><br/>
    <label>Phone Number: </label>
    <input type="text" th:field="*{phoneNumber}" required><br/>
    <button type="submit" >Register</button>
  </form>
</div>
</body>
</html>